@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(/static/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
}

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-wider mb-3 text-center lg:text-6xl;
} 

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
