@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(/static/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
}

/*Your Custom CSS Goes here*/

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-4xl tracking-wider mb-3 text-center lg:text-6xl;
} 

h3 {
  @apply text-2xl font-bold mb-3;
}

p, section {
  @apply mb-4;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* Heroicons */
[data-heroicon-name] {
  @apply inline-block h-5 w-5;
}

h2 [data-heroicon-name] {
  @apply inline-block h-8 w-8 mr-2;
}

.prose img.thumb {
  margin-top: 0;
  margin-bottom: 0;
}