---
layout: default
title: Netzwerk
prism: true
---

{# <div class="container max-w-4xl mt-6  px-6">    
    <article class="prose lg:prose-xl my-4 mx-auto">
        <h2>{{ network.title }}</h2>

        <section>
            {% for partner in network.networkers %}
                <div>
                    <ul>
                    <li>{{ partner.name }}
                    <br>{{ partner.description }}</li>
                </div>
            {% endfor %}
        </section> #}

<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-4xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">{{ network.title }}</h2>
      
      <section class="prose lg:prose-xl my-4 text-left">
        <p>{{ network.text | md | safe }}</p>
     </section>

      <ul class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">
        {% for partner in network.partners %}
            <li>
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                <div class="h-0 aspect-w-3 aspect-h-3 sm:aspect-w-3 sm:aspect-h-4">
                <img class="object-cover shadow-lg rounded-lg" loading="lazy" src={{ partner.img.url }} alt={{ partner.img.alt }} />
                </div>
                <div class="sm:col-span-2">
                <div class="space-y-4">
                    <div class="text-lg leading-6 font-medium space-y-1">
                    <h3>{{ partner.name }}</h3>
                    <p class="text-gray-500">{{ partner.description }}</p>
                    </div>
                    <div class="text-lg">
                    
                    <a href='{{ partner.url }}' class="text-gray-500">{% heroicon "solid", "globe", "Website" %} Website</a>
                    </div>
                </div>
                </div>
            </div>
            </li>
        {% endfor %}
      </ul>

      {% if network.text_bottom %}
      <section class="prose lg:prose-xl my-4 text-left">
        <p>{{ network.text_bottom | md | safe }}</p>
     </section>
     {% endif %}

    </div>
  </div>
</div>

   {#  </article>
</div> #}