<footer class="{# {{ 'fixed' if path == 'home' }}#} bottom-0 text-center w-full pt-4 ">

    <div class="w-full h-96 z-20">
        <img class="h-full w-full object-cover" src="/static/img/footer.jpg" title="footer image" loading="lazy" alt="footer image showing two feet in blue shoes standing on green clover" />
    </div>
    <div class="{# {{ 'lg:fixed' if path == 'home' }} #}w-full bg-gray-700">
        <div class="text-white p-4 text-sm"><a href="/imprint">Impressum & Datenschutz</a></div>
    </div>

</footer>
