<footer class="{# {{ 'fixed' if path == 'home' }}#} bottom-0 text-center w-full pt-4 ">
    {# <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2020. Made with ❤ by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        •
        <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
    </small> #}
    <div class="w-full h-20 z-20">
        <img class="h-full w-full object-cover" src="/static/img/klee_stripe.jpg" alt="green clover background">
    </div>
    <div class="{# {{ 'lg:fixed' if path == 'home' }} #}w-full bg-gray-700">
        <div class="text-white p-4 text-sm"><a href="/imprint">Impressum & Datenschutz</a></div>
    </div>

</footer>
